#containerEscuelas{
	display: block;
	overflow: hidden;
	padding: 50px;
}
#nombreApp{
	font-size: 5em;
	text-align: center;
	margin: 0.2em 0;
}
#contenidoEscuelas{
	width: 90%;
	height:100%;
	display: block;
	position: relative;
	overflow: scroll;
	z-index: 1;
}